<div class="jumbotron text-center">
  <h1 class="display-4">Search Products</h1>

  <hr />

  <%= form_tag do  %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"  style="width:100px">Search</span>
      </div>
      <%= text_field_tag('search', params[:search] , placeholder: 'Search for a product', class: "form-control")  %>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01" style="width:100px">Price</label>
          </div>
          <%= select_tag "operator", options_for_select([ ['Compare', nil], ['Greater Than', '>'], ['Equal To', '='], ['Less Than', '<'] ], params[:operator] ), { class: "custom-select" }  %>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <%= text_field_tag "price", params[:price], placeholder: '', class: "custom-select"  %>
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-check text-lg-left">
      <div class="row">
        <% Product.distinct.pluck(:country).each do |country| %>
          <span class="col-lg-6">
            <%= check_box_tag 'country[]', country, params[:country]&.include?(country) %>
            <%= country %>
          </span>
        <% end %>
      </div>
    </div>

    <hr />

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01" style="width:100px">Sort By</label>
      </div>
      <%= select_tag "sort", options_for_select([ ['Relevance', nil], ['Newest', 'newest'], ['Most Expensive', 'most_expensive'], ['Least Expensive', 'least_expensive'] ] , params[:sort]  ), { class: "custom-select" }  %>
    </div>

    <%= link_to 'Clear', '/', class: "btn btn-warning btn-lg", style: { inline: true}  %>
    <%= submit_tag('Search', class: "btn btn-primary btn-lg") %>
  <% end %>
</div>